{{ processed_count }} files processed {% if report_skipped %} - {{ skipped_files|len }} files skipped {% endif %}

{% if report_extension %}
Files processed by file types:
    {% for extension, count in extensions %}
    {{ extension }} : {{ count }}
    {% endfor %}
{% endif %}
{% if report_mismatch %}
{{ mismatched|len }} files with mismatched signatures
    {% for file in mismatched %}
    {{ file }}
    {% endfor %}
{% endif %}
{% if report_missing %}
{{ missing|len }} missing files
    {% for file in missing %}
    {{ file }}
    {% endfor %}
{% endif %}
{% if report_extra %}
{{ extra|len }} extra files
    {% for file in extra %}
    {{ file }}
    {% endfor %}
{% endif %}
